h1{
    height: 80px;
    color: #ffffff;
    background-color: #0099ff;
    width: 1500px;
    text-align: center;
    font-size: 60px;
}
h2{
    text-align: center;
    height: 80px;
    color: #ffffff;
    background-color: gray;
    width: 700px;
    margin: 400px;
    font-size: 60px;
}
*{
    padding: 0px;
    margin: 0px;
}