<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}

{% block title %}己の限界に挑戦！|Typing app{% endblock %}

{% block header %}


<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
        <h1 class="masthead-heading mb-0">TYPING_APP</h1>
        <h2 class="masthead-subheading mb-0">TYPINGにチャレンジ</h2>
        <a  data-toggle="modal" data-target="#testModal" class="btn btn-primary btn-xl rounded-pill mt-5">PLAY NOW</a>
        <a href="{% url 'account_login' %}" class="btn btn-primary btn-xl rounded-pill mt-5">LOG IN</a>

        </div>
    </div>


    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>

   
</header>

<!-- ボタン・リンククリック後に表示される画面の内容 -->
 <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="basicModal">TYPING!!</h4>
            </div>
            <div class="modal-body">
                <body onload="gameSet()" class="itabashi">
                    <div id="main_typing" class="itabashi">
                        <!-- 時間の表示 -->
                        <p id="time" class="itabashi">最初の一文字入力でスタート</p>
                
                        <div class="question itabashi" >
                            <!-- 出題 -->
                            <font id="mondai" class="itabashi"></font>
                        </div>
                        <!-- タイピング済みの部分の表示 -->
                        <p id="input" class="itabashi"></p>
                        <!-- ミスタイプ数の表示 -->
                        <p id="missType" class="itabashi"></p>
                
                        <button id="retry" type="button" onclick="location.reload()" class="itabashi">
                            リトライ
                        </button>
                
                    </div>
                
                  
                
                
                    <script type="text/javascript" src="{% static 'js/typing.js' %}"></script>
                </body>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
 </div>


{% endblock %}





 