<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    <title>typingGame</title>
    <link rel="stylesheet" type="text/css" media="screen,print" href="{% static 'css/typing.css' %}" />
</head>



<body onload="gameSet()">
    <div id="main_typing">
        <!-- 時間の表示 -->
        <p id="time">最初の一文字入力でスタート</p>

        <div class="question">
            <!-- 出題 -->
            <font id="mondai"></font>
        </div>
        <!-- タイピング済みの部分の表示 -->
        <p id="input"></p>
        <!-- ミスタイプ数の表示 -->
        <p id="missType"></p>

        <button id="retry" type="button" onclick="location.reload()" >
            リトライ
        </button>

    </div>

  


    <script type="text/javascript" src="{% static 'js/typing.js' %}"></script>
</body>

</html>